html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #eee;
}

#canv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
    background: #fff;
}

table#chat {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30em;
    width: 20em;
    border-spacing: 0;
    padding: 0;
    font: .75em "Helvetica Neue", sans-serif;
    border-left: 1px solid #ddd;
    background: #fff;
    background: rgba(255, 255, 255, .65);
}

table#chat td#scroller {
    height: 100%;
    vertical-align: bottom;
    padding-bottom: 5em;
}

table#chat td#scroller #messages {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

table#chat td#scroller #messages p {
    margin: .1em .5em;
    padding-left: .5em;
    text-indent: -.5em;
    width: 17em;
    word-wrap: break-word;
    color: #111;
}

table#chat td#scroller #messages p.highlight {
    background: #e1f3b2;
}

table#chat td#scroller #messages p strong {
    color: #444;
}

table#chat td#scroller #messages p.server {
    color: #7a7;
}

table#chat form#msgform {
    position: absolute;
    bottom: 1em;
    left: .5em;
    right: .5em;
    height: 3em;
}

table#chat form#msgform #message {
    width: 18.5em;
    height: 100%;
    padding: 0;
    border: 2px solid #e6b070;
    font: 1em "Helvetica Neue", sans-serif;
    outline: none;
    overflow: hidden;
}

table#chat form#msgform #message:focus {
    border-color: #ffe980;
}

table#chat form #send {
    display: none;
}