@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #eee;
}

#canv {
    position: absolute;
    top: 0;
    left: 0;
    right: 25em;
    bottom: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
    background: #fff;
}

table#chat {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25em;
    border-spacing: 0;
    padding: 0;
    font: .75em "Helvetica Neue", sans-serif;
    border-left: 1px solid #ddd;
    background: #fff;
}

table#chat td#scroller {
    height: 100%;
    vertical-align: bottom;
    padding-bottom: 5.0em;
}

table#chat td#scroller #messages {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

table#chat td#scroller #messages p {
    margin: .1em .5em;
    padding: 0 .5em;
    text-indent: -.5em;
    width: 22.5em;
    word-wrap: break-word;
    color: #111;
}

table#chat td#scroller #messages p strong {
    color: #444;
}

table#chat td#scroller #messages p.server {
    color: #7a7;
}

table#chat form#msgform {
    position: absolute;
    bottom: 1em;
    left: .5em;
    right: .5em;
    height: 2.5em;
}

table#chat form#msgform #message {
    width: 23.5em;
    height: 100%;
    padding: 0;
    border: 2px solid #e6b070;
    font: 1em "Helvetica Neue", sans-serif;
    outline: none;
    overflow: hidden;
}

table#chat form#msgform #message:focus {
    border-color: #ffe980;
}

table#chat form #send {
    display: none;
}