html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #eee;
}

#nav {
    background: #fff;
    padding: .25em;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ccc;
}

#nav .box {
    position: relative;
    border: 1px solid #000;
    float: left;
}

#nav .box .colorbox {
    margin: 1px;
    background: #000;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#nav form.pickerwrapper {
    position: absolute;
    top: 2em;
    left: 0;
}

#nav form.pickerwrapper .pickerunder {
    display: none;
    border: 2px solid #444;
    border-bottom: 2px solid #222;
    border-right: 2px solid #222;
    width: 209px;
    background: #333;
}

#nav form.pickerwrapper .colorpicker {
    margin: 5px;
}

#nav form.pickerwrapper .colorinput {
    width: 195px;
    padding: .5em 0;
    text-indent: .5em;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 2px solid #444;
    font-family: "Helvetica Neue", sans-serif;
    outline: none;
    background: #000;
    color: #fff;
}

#nav form.pickerwrapper .colorinput:focus {
    border-color: #666c66;
}

#canv {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
    background: #fff;
}

table#chat {
    position: absolute;
    bottom: 0;
    right: 0;
    border-spacing: 0;
    padding: 0;
    font: .75em "Helvetica Neue", sans-serif;
}

table#chat thead th {
    text-align: left;
    font-weight: bold;
    color: #f3f3f3;
    background: #6B96C9;
    background: rgba(107, 150, 107, 0.65);
    border-radius: .5em .5em 0 0;
    -moz-border-radius: .5em .5em 0 0;
    -webkit-border-radius: .5em .5em 0 0;
    padding: .25em 0 .25em 1em;
    cursor: pointer;
    width: 33em;
}

table#chat thead th:hover {
    background: rgba(107, 150, 107, 0.85);
    color: #fff;
}

table#chat tbody {
    background: #fff;
    border-left: 1px solid #ddd;
    background: rgba(255, 255, 255, .65);
}

table#chat tbody td {
    position: relative;
    border-left: 1px solid #ddd;
}

table#chat tbody td#users {
    background: #f5fcf5;
    background: rgba(245, 252, 245, .65);
    vertical-align: top;
}

table#chat tbody ul#userlist {
    padding: .5em 0;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
    color: #222;
}

table#chat tbody ul#userlist li {
    cursor: pointer;
    padding: 2px 4px;
}

table#chat tbody ul#userlist li:hover {
    background: #acf;
    background: rgba(170, 204, 255, .5);
}

table#chat tbody td#scroller {
    vertical-align: bottom;
    padding-top: .5em;
    width: 20em;
}

table#chat tbody td#scroller #messages {
    height: 25em;
    overflow-x: hidden;
    overflow-y: auto;
}

table#chat td#scroller #messages p {
    margin: .1em .5em;
    padding-left: .5em;
    text-indent: -.5em;
    width: 17em;
    word-wrap: break-word;
    color: #222;
}

table#chat td#scroller #messages p.highlight {
    background: #e1f3b2;
}

table#chat td#scroller #messages p.server {
    font-weight: bold;
    color: #695;
}

table#chat td#scroller #messages p.error {
    font-weight: bold;
    color: #956;
}

table#chat td#scroller #messages p strong {
    color: #444;
}

table#chat td#scroller #messages p strong.me {
    color: #46b;
}

table#chat form#msgform {
}

table#chat form#msgform #message {
    width: 19em;
    margin: .5em auto;
    height: 3em;
    padding: 0;
    border: 2px solid #6B96C9;
    border-color: rgba(107, 150, 107, 0.65);
    font: 1em "Helvetica Neue", sans-serif;
    outline: none;
    display: block;
}

table#chat form#msgform #message:focus {
    border-color: #ffe980;
}

table#chat form #send {
    display: none;
}